html {
	font-size: 65.5%;
}

body {
	padding-top: 10rem;
	position: relative;
	font-family: $f-main !important;
	font-weight: 300 !important;
	line-height: 3.4rem;
	color: $black;
	background-color: #fafafa;
}
p {
	font-size: $f-normal;
}

.header-text {
	padding: 10rem 0 2rem 0;
	color: $blue;
	font-family: $f-secondary;
	font-size: $f-bigger;
}

.header-subtext {
	padding-bottom: 10rem;
	color: $blue;
	font-family: $f-secondary;
}

hr {
	margin: 7rem 0;
	border: 1px solid $quaternary-color;
	border-radius: 90px;
}

a {
	text-decoration: none;
	color: $blue;
	font-size: $f-normal;
	&:hover {
		text-decoration: none;
		color: $quaternary-color;
	}
}

li {
	font-size: $f-normal;
}

.cont {
	background-color: white;
	border-radius: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}