/* imports */

@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi|Quicksand&display=swap");

/* colors */

$primary-color: #f4f9f4;
$secondary-color: #57806C;
$tertiary-color: #008080;
$quaternary-color: #004D4D;

/* standard */

$white: #fbfbfb;
$light-grey: #ececec;
$grey: rgba(183, 183, 183, 1);
$black: #0e1013;
$dark-grey: rgba(119, 119, 119, 1);

/* main */

$blue: #16738f;
$light-blue: #b9e1dc;
$brown: #773800;
$red: #ff610d;
$purple: #6c5e81;

/* fonts */

$f-main: "Quicksand", sans-serif;
$f-secondary: "Baloo Thambi", sans-serif;
$f-small: 1.4rem;
$f-normal: 2rem;
$f-big: 2.4rem;
$f-bigger: 3.2rem;
