footer {
	height: 100%;
	margin-top: 2.5rem;
	padding: 3rem;
	color: $black;
	hr {
		border-color: $quaternary-color;
	}
	a {
		color: $quaternary-color;
		&:hover {
			color: $tertiary-color;
		}
	}
}
