.header-text {
	padding: 10rem 0 2rem 0;
	color: $tertiary-color;
	font-family: $f-changa-one;
	font-size: $f-bigger;
}

.header-subtext {
	padding-bottom: 10rem;
	color: $tertiary-color;
	font-family: $f-changa-one;

}
