// global button styles

.btn {
	font-size: $f-normal;
	border: none;
	&:link {
		border: none;
	}
	&:visited {
		border: none;
	}
	&:hover {
		border: none;
	}
	&:active {
		border: none;
	}
}

// primary Call to Action button

.btn-CTA-1 {
	background-color: transparent;
	position: relative;
	border-radius: 7px;
	border: 5px solid $white !important;
	padding: 3rem 5rem;
	margin: 2rem 0;
	color: $white;
	text-shadow: 1px 1px 12px black;
	font-weight: 900 !important;
	&:hover {
		background-color: transparent;
		color: $white;
		top: -2px;
	}
	&:active {
		box-shadow: none !important;
		color: white !important;
		background-color: $quaternary-color !important;
		border-color: $quaternary-color !important;
		outline: none !important;
	}
	&:focus {
		color: white !important;
		background-color: $quaternary-color !important;
		border-color: $quaternary-color !important;
		box-shadow: none !important;
	}
}

// secondary Call to Action button

.btn-CTA-2 {
	background-color: transparent;
	border: 5px solid $blue !important;
	transition: 0.3s;
	font-size: $f-normal;
	&:hover {
		color: $white;
		background-color: $blue;
		border: 5px solid $blue;
	}
	&:active {
		box-shadow: none !important;
		color: $white !important;
		background-color: $blue !important;
		border-color: $blue !important;
		outline: none !important;
	}
	&:focus {
		color: $white !important;
		background-color: $blue !important;
		border-color: $blue !important;
		box-shadow: none !important;
	}
}

.btn-CTA-3 {
	@extend .btn-CTA-2;
	border: none !important;
	&:hover {
		color: $quaternary-color  !important;
		background-color: transparent  !important;
	}
	&:active {
		color: $quaternary-color  !important;
		background-color: transparent !important;	
	}
	&:focus {
		color: $quaternary-color  !important;
		background-color: transparent  !important;
	}
}

// scroll to top button

.scrollToTop {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 99;
	border: none;
	outline: none;
	color: $quaternary-color;
	cursor: pointer;
	padding: 1rem;
	border-radius: 5px;
	display: none;
}

// spinners

.spinner-1:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 6rem;
	width: 6rem;
	margin-top: -3rem;
	margin-left: -3rem;
	border-radius: 50%;
	border: 3px solid $grey;
	border-top-color: $quaternary-color;
	animation: spinner 0.7s ease infinite;
}

.spinner-2:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 6rem;
	width: 6rem;
	margin-top: -3rem;
	margin-left: -3rem;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: $quaternary-color;
	border-bottom-color: $quaternary-color;
	animation: spinner 0.7s linear infinite;
}

.spinner-3:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 6rem;
	width: 6rem;
	margin-top: -3rem;
	margin-left: -3rem;
	border-radius: 50%;
	border-top: 3px solid $quaternary-color;
	border-right: 3px solid transparent;
	animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
